* { margin: 0; padding: 0; box-sizing: border-box; }
body{font-family:'Noto Sans KR';}
html,body { height:100%; }
body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,button,input { margin:0; padding:0; }
html { scroll-behavior:smooth; }
h1,h2,h3,h4 { font-size:16px; }
ul,li,ol { list-style:none; }
img,fieldset,iframe { border:0; }
img { vertical-align:top; }
table { border-collapse:collapse; }
a {text-decoration: none; color: var(--black); font-size: 16px; font-weight: 400;}

.blind {position:absolute; left:0; top:-99999px;}
.skip_navigation a { position:absolute; left:0px; top:-9999px; }
.skip_navigation a:focus { position:static; display:block; background-color:black; text-align:center;color:white; padding:5px;}

:root{
    --green:#75fb4c;
    --black:#222;
    --grey:#575757;
    --white:#fff;
    --bg-grey:#dcdcdc;
}

body{min-width: 1285px;}

/* layout */
#header {position: fixed; left: 0; top: 0; z-index: 99999; width: 100%;  background-color: rgba(0, 0, 0, 0.5);}
#header .inner {position: relative; margin: 0 auto; width: 1350px; height: 100px;}

#header .sub li {line-height: 2rem; font-size: 16px;}
#header .sub li:first-child {padding-top: 10px;}
#header .sub li:last-child img {width: 150px; margin-top: 2px;}
#header .gnbsub_bg{position: fixed; top:100px; left: 0; width: 100vw; height: 350px; background-color: rgba(0, 0, 0, 0.5); z-index: -1;}


#visual {z-index: -1; position: relative; height: 100%; background: url(../images/bg01.jpg) no-repeat center top / 100% ; background-size: cover;background-attachment: fixed;}
#visual .typo { position: absolute; width: 800px; height: 118px; top:calc(50% - 118px/2); left: calc(50% - 800px/2); text-align: center; transition: 1s;}


#container section { padding: 119px 0 140px 0;}
#container .inner {width: 1285px; margin: 0 auto;}
#container span{display: inline-block; font-size: 12px; color:var(--white); font-weight: 400;}

#container p {text-align: center;}
#container h2 {font-size: 18px; text-align: center; margin-bottom: 35px; letter-spacing: 2px; font-weight: 900;}
#container #work {width: 100%; height: 972px; background: url(../images/work_bg.jpg)no-repeat center center;background-size: cover; background-attachment: fixed;}

/* header */
#header h1 {position: absolute; left: 0; top:calc(50% - 30px/2); width: 194px;height: 30px;}
#header h1 img {width: 100%; height: 100%;}
#header .gnb {position: absolute; left: 416px; top:0; height: 100%;}
#header .gnb>ul {display: flex; justify-content: space-between; width: 700px;height: 100%; line-height: 100px}
#header .gnb ul li {width: 140px; }
#header .gnb ul li a {color: var(--white);}
#header .gnb ul li a:hover {color: var(--green); border-bottom: 1px solid var(--green);}
#header .util{display: flex; justify-content: space-between; position: absolute; right: 0; top: calc(50% - 20px/2); width: 130px; height: 20px;  }
#header .util img {width: 100%; height: 100%;}


/* footer */
#footer {background-color: var(--black); }
#footer .inner {width: 1285px; margin: 0 auto; }
#footer #sitemap {display: flex; justify-content: space-between; padding: 84px 0 114px 0; } 
#footer #sitemap h3 {margin-bottom: 22px;}
#footer #sitemap div {flex: 1; color: var(--white);}
#footer #sitemap a{font-size: 14px; color: var(--white); line-height:2em;}
#footer #sitemap a:hover{color: var(--green);}

#footer #sitemap  .map_srvi ul li:first-child { margin: 30px 0 22px 0;}
#footer #sitemap  .map_srvi ul li a{width: 130px; height: 45px;  border: 1px solid var(--white);padding: 5px 10px;}

#footer #info {opacity: 0.5;}
#footer #info ul {display: flex; justify-content: center; gap: 10px;}
#footer #info .copyright {color: var(--white); text-align: center; font-size: 12px; padding: 8px 0 10px 0;}
#footer #info .footer_logo { display: flex; justify-content: center; padding: 8px 0 33px 0;}
#footer #info .footer_logo img {width: 150px; height: 30px;}

#footer .top_icon {position: fixed; right: 30px; bottom: 50px; width: 40px; height:40px; background-color:rgb(255, 255, 255,0.5); border-radius: 50%; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; z-index: 20;}
#footer .top_icon:hover {background-color: #75fb4c; border-radius: 50px; }
#footer .top_icon img {width: 100%; height: 100%;opacity: 0.8; }




.style_con li {transition: 1s;}
