
@import url(common.css);



/* visual */
#visual .typo p:nth-child(1){font-size: 38px; text-align: center; font-weight: 700; color: var(--white); }
#visual .typo p:nth-child(2){display: block; font-size: 16px; font-weight: 900; color: var(--green);margin-top: 16px;}


/* MONTHLY PRODUCT */
#container #product ul {display: flex; justify-content: space-between;}
#container #product ul li:hover p {color: var(--green);}
#container #product p {padding-top: 27px; color: var(--grey); transition: .2s ;}


/* RARERAW WORK */
#container #work h2 {color: var(--green);}
#container #work ul {display: flex; justify-content: space-between;}
#container #work ul li{width: 380px; height: 100%;transition: .3s ease-in;overflow: hidden;}
#container #work ul li:hover{box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;transform: translateY(-5px);}
#container #work img {width: 380px; height: 480px;}
#container #work a {text-align: center;}
#container #work h3 {font-size: 14px; padding: 30px 0 27px 0; background-color: var(--white);}
#container #work p {padding:0 20px 46px;background-color: var(--white);}


/* STYLE BY RARERAW */
#style ul {display: flex; flex-wrap: wrap; justify-content: space-between; gap: 20px; }
#style ul li { position: relative; width: 632px; height: 336px; overflow: hidden; transition: all 0.5s ease-in;}
#style ul li a:hover img{scale: 1.01; filter: brightness(50%);}
#style ul li img {width: 100%; height: 100%;transition: 0.3s ease-in-out;}
#style ul li span { z-index: 1;position: absolute; width: 100%; height: 40px; 
    top: calc(50% - 20px); text-align: center; color: var(--green); font-size: 18px;line-height: 40px; font-weight: 700;}


/* SOCIAL MEDIA */
#social { background-color:var(--bg-grey)}
#social span {color: var(--black);}
#social .social_wrap {display: flex; justify-content: space-between;}
#social .social_wrap iframe {border: 0;}

#social .tab_menu {display: flex;}
#social .tab_menu li {position: relative; width: 164px; height: 60px; background-color:var(--green); text-align: center; line-height: 60px; box-sizing: border-box;}
#social .tab_menu li:first-child:after{position: absolute; content: ''; width: 2px; height: 30px;background-color: var(--black);top:calc(50% - 15px);right:0;}
#social .tab_menu li a { display: inline-block; width: 100%; height: 100%; font-weight: 900;}

#social .tab_contents { width: 432px; height: 376px; overflow: hidden; background-color:#6b6b6b; border: 5px solid var(--green);}

#social .tab_contents .con {padding:20px;}
#social .tab_contents .con li {padding: 15px 0; border-bottom: 2px solid var(--green);}
#social .tab_contents .con li:first-child {padding-top: 0;}
#social .tab_contents .con li:last-child {border: 0;}
#social .tab_contents .con li a {display: inline-block; width: 100%;  color: var(--white); text-overflow: ellipsis; text-overflow: ellipsis;
overflow: hidden; white-space: nowrap;text-align: left;transition: 0.3s;}
#social .tab_contents .con li:hover a {color: var(--green);}
#social .tab_contents .con li p {text-align: left; font-size: 12px; margin-top: 10px;}


/* 갤러리 swiper */
.gallery1 .swiper-pagination { /* 메뉴영역 */
	
}

.gallery1 .swiper-slide {
    height: 340px;
    text-align: center;
}

#container .gallery1 span {color: var(--black);}



